@{
    ViewBag.Title = "AddPropToProd";
    var listaProprietati = (IEnumerable<CocoFarm.Models.Proprietate>)ViewData["proprietate"];

}


@model CocoFarm.Models.ProprietateValoare
<h2>Add Prop To Prod</h2>
<form action="/CatalogProduse/AddPropToProd/@Model.ProdusId" method="post">


    @Html.HiddenFor(model => model.ProdusId)

    <select>
        @foreach (var item in listaProprietati)
        {
            <option value="@item.Id">@Html.DisplayFor(modelItem => item.Nume) </option>
        }

    </select>



    <div>
        @Html.LabelFor(model => model.Valoare)
        @Html.EditorFor(model => model.Valoare)
    </div>

    <input type="submit" value="submit" />

</form>